<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.apay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.AfghanPayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".login.LoginScreenActivity"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--android:noHistory="true"--><!--it do not add the activity to the back stack therefore when back is pressed
                    on the next activity this activity want be shown-->
        <activity
            android:name=".register.RegisterScreenActivity"
            android:label="@string/title_activity_register_screen"
            android:parentActivityName=".login.LoginScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otp.OTPActivity"
            android:label="@string/title_activity_otp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".application.ApplicationHome"
            android:label="@string/title_activity_application_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".application.AccountScreen"
            android:label="Account"
            android:parentActivityName=".application.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".application.Merchants"
            android:label="@string/title_activity_merchants"
            android:parentActivityName=".application.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- //to set up compatibility with devices having api level below or equal to 14 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".application.ApplicationHome" />
        </activity>
    </application>

</manifest>